body {
  background: #111;
  color: #eee;
  font-family: Arial, sans-serif;
}

.center {
  text-align: center;
  margin-top: 100px;
}

input, button {
  padding: 10px;
  margin: 5px;

}

.bilder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.bilder img {
  width: 100%;
  border: 2px solid #444;
}
